* {
    -webkit-tap-highlight-color: transparent;
}

html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

a:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

*:focus,
*:visited,
*:active,
*:hover {
    outline: 0 !important;
}

a,
a:focus,
a:visited,
a:active,
a:hover {
    outline: 0 !important;
}

*::-moz-focus-inner {
    border: 0;
    outline: none;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    border: none;
}

*:not(#fake) {
    outline: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input:invalid {
    box-shadow: none;
}

article,
figure,
main,
nav {
    display: block
}

a:active,
a:hover {
    outline: 0
}

b {
    font-weight: 700
}

h1 {
    margin: .67em 0
}

img {
    border: 0;
    vertical-align: middle
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

@media print {
    *,
    ::after,
    ::before {
        background: transparent none repeat scroll 0 0 !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]::after {
        content: " ("attr(href) ")"
    }
    img {
        page-break-inside: avoid;
        max-width: 100% !important
    }
    h2 {
        page-break-after: avoid
    }
}

*,
::after,
::before {
    box-sizing: border-box
}

html {
    font-size: 10px
}

body {
    /* min-width: 320px; */
    /* width: 100%; */
    /* padding: 0 10px; */
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    background-color: #fff
}

a {
    text-decoration: none
}

a:focus,
a:hover {
    color: red;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline-offset: -2px
}

figure {
    margin: 0
}

.img-responsive {
    display: block;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}

.img-responsive-mb {
    margin-bottom: 20px;
}

.h1,
.h2,
.h4,
h1,
h2,
h4 {
    font-weight: 900;
    line-height: 1.25;
    color: inherit
}

.h1,
.h2,
h1,
h2 {
    margin-top: 22px;
    margin-bottom: 11px
}

.h4,
h4 {
    margin-top: 11px;
    margin-bottom: 11px
}

.h1,
h1 {
    font-size: 33px
}

.h4,
h4 {
    font-size: 18px
}

p {
    margin: 0 0 11px;
    text-align: justify
}

ul {
    margin-top: 0;
    margin-bottom: 11px
}

.container {
    margin-right: auto;
    margin-left: auto;
    /* padding-left: 15px;
  padding-right: 15px */
}

@media(min-width:1px) {
    .container {
        max-width: 768px;
        width: 100%;
    }
}

@media(min-width:1024px) {
    .container {
        max-width: 999px
    }
}

@media(min-width:1280px) {
    .container {
        max-width: 1255px
    }
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: outside none none
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 9px 12px
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #f5f5f5
}

.nav-tabs {
    border-bottom: 1px solid transparent
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.6;
    border: 1px solid transparent;
    border-radius: 0
}

.nav-tabs>li>a:hover {
    border-color: #f5f5f5 #f5f5f5 transparent
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #666;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.container::after,
.container::before,
.nav::after,
.nav::before {
    content: "";
    display: table
}

.container::after,
.nav::after {
    clear: both
}

.c-post-info::after,
.c-post-info::before,
.o-cmr::after,
.o-cmr::before,
.o-row-sm::after,
.o-row-sm::before,
.o-row::after,
.o-row::before {
    content: "";
    display: table
}

.c-post-info::after,
.o-cmr::after,
.o-row-sm::after,
.o-row::after {
    clear: both
}

@media(max-width:1023px) {
    .h1,
    h1 {
        font-size: 27px
    }
    .h2,
    h2 {
        font-size: 22px
    }
    .h4,
    h4 {
        font-size: 13px
    }
}

.nav>li>a {
    color: #000
}

@media(max-width:1023px) {
    .nav {
        font-size: 12px
    }
}

.nav-tabs>li>a {
    border-width: 0 1px !important;
    color: #666;
    background: #e2e2e2 none repeat scroll 0 0;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding-left: 9px;
    padding-right: 9px
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    background: rgba(226, 226, 226, .5) none repeat scroll 0 0;
    border-right-color: rgba(226, 226, 226, .5)
}

.nav-tabs>li.active>a {
    color: #333
}

.nav-tabs>li+li>a {
    border-left-color: #f5f5f5
}

.nav-tabs.u-flex-justify-x>li>a {
    margin-right: 0;
    text-align: center
}

@media(max-width:1023px) {
    .nav-tabs>li>a {
        font-size: 7px;
        padding-left: 6px;
        padding-right: 6px
    }
}

body {
    /* max-width: 1920px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

a,
button {
    transition: all 0s ease 0s;
    outline: 0 !important
}

.h1,
.h2,
h1,
h2 {
    margin-top: 20px;
    margin-bottom: 20px
}

@media(min-width:1280px) {
    .h1,
    .h2,
    h1,
    h2 {
        margin-top: 44px;
        margin-bottom: 33px
    }
}

p,
ul {
    margin-bottom: 22px
}

@media(min-width:1366px) {
    .container {
        width: 1341px
    }
}

@media(min-width:1600px) {
    .container {
        width: 1575px
    }
}

/* .o-wrap {
  padding-left: 54px;
  padding-right: 54px
} */

@media(max-width:1365px) {
    /* .o-wrap {
    padding-left: 20px;
    padding-right: 20px
  } */
}

.o-row-sm {
    position: relative;
    /* margin-left: -10px;
  margin-right: -10px */
}

.o-row-flex {
    display: flex;
    margin-left: -15px;
    margin-right: -15px
}

.o-col-flex {
    padding-left: 15px;
    padding-right: 15px
}

.o-row-sm-flex {
    margin-left: -7px;
    margin-right: -7px
}

.o-row-sm-flex .o-col-flex {
    padding-left: 7px;
    padding-right: 7px
}

.c-sidebar-wrap {
    float: right;
    width: 320px
}

.c-sidebar-wrap .c-sidebar {
    width: 350px
}

.c-main {
    /* padding: 0 10px */
}

.c-sidebar-wrap~.c-main {
    /* float: left; */
    /* width: 60% */
}

@media(max-width:1023px) {
    .c-sidebar-wrap {
        width: 245px
    }
    .c-sidebar-wrap .c-sidebar {
        width: 225px
    }
    .c-sidebar-wrap~.c-main {
        width: 100%
    }
    .c-sidebar-wrap {
        display: none
    }
}

@media(min-width:1024px) and (max-width:1279px) {
    .o-row-sm {
        position: relative;
        /* margin-left: -10px;
    margin-right: -50px */
    }
}

@media(min-width:1280px) {
    .c-sidebar-wrap {
        width: 360px
    }
    .c-sidebar-wrap .c-sidebar {
        width: 350px
    }
    .c-sidebar-wrap~.c-main {
        width: 70%
    }
}

/* @media(min-width:1366px) {
  .c-sidebar-wrap~.c-main {
    width: 70%
  }
} */

@media(min-width:1600px) {
    .c-sidebar-wrap~.c-main {
        width: 70%
    }
}

.o-cmr,
.com-txt,
.o-cmr h2:not([class]) {
    font-weight: 300;
    font-family: Roboto;
    font-size: 18px;
    line-height: 1.4
}

.o-cmr a {
    /* font-weight: 400 */
    font-family: system-ui;

}

@media(min-width:1024px) {
    .o-cmr,
    .com-txt,
    .o-cmr h2:not([class]) {
        font-size: 18px
    }
}

@media(min-width:1280px) {
    .o-cmr,
    .com-txt,
    .o-cmr h2:not([class]) {
        font-size: 18px;
        line-height: 25px
    }
}

@media(min-width:1600px) {
    .o-cmr,
    .com-txt,
    .o-cmr h2:not([class]) {
        font-size: 22px;
        line-height: 30px
    }
}

.c-banner {
    position: relative;
    /* padding-bottom: 56px; */
    line-height: 1.42857
}

/* .c-banner .c-app-nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0
} */

/* @media(max-width:1023px) {
  .c-banner {
    padding-bottom: 42px
  }
} */

/* .c-lang>li+li {
  margin-left: 6px
} */

/* .is-compressed .c-lang>li>a,
.is-compressed .c-lang>li>abbr {
  line-height: 40px
} */

@media(min-width:1024px) {
    /* .is-compressed .c-lang>li>a,
  .is-compressed .c-lang>li>abbr {
    line-height: 54px
  } */
}

/* .is-fixed .c-app-nav {
  will-change: margin-top;
  margin-top: 0
} */

/* .is-fixed.is-compressed .c-app-nav {
  transition: margin-top .3s ease 0s;
  margin-top: -40px
} */

/* .c-app-nav>li:nth-child(2) {
  margin-left: 54px
} */

@media(max-width:1023px) {
    /* .is-compressed .c-lang>li>a,
  .is-compressed .c-lang>li>abbr {
    padding-left: 7px;
    padding-right: 7px
  } */
    /* 
  .c-app-nav>li:nth-child(2) {
    margin-left: 40px
  } */
}

@media(min-width:1024px) {
    /* .c-app-nav {
    margin-top: -56px
  } */
    /* .c-app-nav>li>a {
    padding: 0 7px
  } */
    /* .is-fixed.is-compressed .c-app-nav {
    margin-top: -54px
  } */
}

/* @media(min-width:1280px) {
  .c-app-nav>li>a {
    padding: 0 7px
  }
} */

/* @media(min-width:1366px) {
  .c-app-nav>li>a {
    padding: 0 8px
  }
} */

@media(min-width:1600px) {
    /* .c-app-nav>li>a {
    padding: 0 11px
  } */
}

@media(max-width:1023px) {
    .c-main {
        /* padding-left: 15px; */
        /* padding-right: 15px; */
    }
}

/* .c-main .o-jumbotron {
  margin-right: -10px;
  padding-right: 32px
} */

/* @media(max-width:1279px) {
  .o-jumbotron {
    padding-top: 7px
  }

  .c-main .o-jumbotron {
    margin-right: -20px
  }
} */

/* @media(min-width:1366px) {
  .o-jumbotron {
    margin-left: -54px;
    margin-right: -54px;
    padding-left: 54px;
    padding-right: 54px
  }
} */

.c-entry-frame {
    position: relative;
    height: 0;
    overflow: hidden
}

.c-entry-frame .c-post-meta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.c-entry-frame .c-post-title {
    overflow: hidden
}

.c-entry-frame-img-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden
}

.c-entry-frame-img-box img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: auto
}

.c-post {
    margin-bottom: 16px
}

.c-post .c-main>:last-child {
    margin-bottom: 0
}

.c-post-meta {
    background-color: #fff
}

.c-post-title {
    font-size: 16px;
    font-weight: 700
}

.c-post-meta .c-post-title {
    margin: 0
}

.c-post-title,
.c-post-title>* {
    color: inherit
}

.c-post-title>* {
    pointer-events: all
}

.c-post-title a {
    display: block;
    max-width: 100%;
    text-decoration: none
}

.c-post-title a:focus,
.c-post-title a:hover {
    color: inherit
}

@media(max-width:1023px) {
    .c-post-title {
        font-size: 12px
    }
}

@media(min-width:1366px) {
    .c-post-title {
        font-size: 20px
    }
}

@media(min-width:1600px) {
    .c-post-title {
        font-size: 22px
    }
}

.c-post-tag,
.c-post-time {
    display: inline-block;
    font-size: 12px
}

.c-post-tag:not(:last-child),
.c-post-time:not(:last-child) {
    margin-right: 8px
}

@media(max-width:1023px) {
    .c-post-tag,
    .c-post-time {
        font-size: 10px
    }
    .c-post-tag:not(:last-child),
    .c-post-time:not(:last-child) {
        margin-right: 6px
    }
}

.c-post-info-sm .c-post-tag,
.c-post-info-sm .c-post-time {
    float: left
}

.c-post-tag {
    color: #666;
    font-weight: 700
}

.c-post-time {
    color: #a8abbf
}

.c-post-info-sm .c-post-tag,
.c-post-info-sm .c-post-time {
    font-size: 12px
}

@media(max-width:1365px) {
    .c-post-info-sm .c-post-tag,
    .c-post-info-sm .c-post-time {
        margin-right: 7px
    }
}

@media(max-width:1023px) {
    .c-post-info-sm .c-post-tag,
    .c-post-info-sm .c-post-time {
        font-size: 8px
    }
}

/* .c-main .c-entry-lg .c-bar {
  padding-right: 30px
} */

/* .c-bar-left {
  float: left;
  margin-left: -10px
} */

.c-sidebar-box {
    padding: 0 10px
}

.c-sidebar {
    position: relative;
    top: 0;
    padding: 0 15px;
    background: #f5f5f5 none repeat scroll 0 0
}

.c-sidebar .nav-tabs>li>a {
    padding-top: 14px;
    padding-bottom: 12px
}

.c-sidebar article:focus a .c-post-img,
.c-sidebar article:hover a .c-post-img {
    transform: scale(1.1)
}

.c-sidebar .o-row {
    margin-left: -20px;
    margin-right: -20px
}

.c-sidebar .c-post-img {
    transition: transform 3s ease 0s
}

.c-sidebar .c-post-meta {
    background: #f5f5f5 none repeat scroll 0 0
}

.c-sidebar .c-aside {
    padding: 20px 0;
    background: #fff none repeat scroll 0 0
}

@media(max-width:1023px) {
    .c-sidebar {
        padding: 0 15px
    }
    .c-sidebar .nav-tabs>li>a {
        padding-top: 15px;
        padding-bottom: 13px
    }
    .c-sidebar .c-post-title {
        font-size: 12px
    }
    .c-sidebar .o-row {
        margin-left: -15px;
        margin-right: -15px
    }
    .c-sidebar .c-aside {
        padding: 22px 0
    }
}

@media(min-width:1280px) {
    .c-sidebar .nav-tabs>li>a {
        font-size: 10px;
        padding-top: 12px;
        padding-bottom: 11px
    }
    .c-sidebar .c-aside {
        padding: 10px
    }
}

.c-sidebar-entry .c-post-title,
.c-sidebar-unit .c-post-title {
    margin: 0;
    font-size: 16px;
    font-weight: 300
}

@media(max-width:1023px) {
    .c-sidebar-entry .c-post-title,
    .c-sidebar-unit .c-post-title {
        font-size: 12px
    }
}

.c-sidebar-unit:last-child {
    border-bottom: 0
}

.c-sidebar-entry {
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
    margin-top: 0
}

.c-sidebar-entry .c-entry-frame {
    margin-top: 5px
}

.c-sidebar-entry .c-post-title {
    color: #333
}

.c-sidebar-entry .c-post-info {
    margin: 5px 0 0
}

.c-sidebar-entry:focus .c-post-title a,
.c-sidebar-entry:hover .c-post-title a {
    text-decoration: underline
}

.c-sidebar-entry .c-post-tag,
.c-sidebar-entry .c-post-time {
    color: #a0a0a0
}

.c-sidebar-entry .c-post-tag {
    font-weight: 400
}

.s-entry-video .c-post-title {
    line-height: 1.33333;
    font-size: 15px;
    min-height: 48px;
    max-height: 68px
}

.s-entry-video .c-entry-frame,
.s-entry-video .c-entry-frame-img-box {
    padding-top: 57.143%
}

.s-entry-video .c-post-title a {
    padding-top: 8px;
    padding-bottom: 5px
}

.s-entry-video .c-entry-frame {
    padding-bottom: 69px
}

@media(max-width:1023px) {
    .c-sidebar-entry {
        padding: 11px 0
    }
    .c-sidebar-entry>:first-child:not(.c-post-title) {
        margin-top: 3px
    }
    .s-entry-video .c-post-meta {
        padding-bottom: 17px
    }
    .s-entry-video .c-post-title {
        font-size: 11px;
        min-height: 38px;
        max-height: 53px
    }
    .s-entry-video .c-entry-frame {
        padding-bottom: 55px
    }
}

.c-aside {
    overflow: hidden
}

.c-comments-head {
    padding-bottom: 1px;
    margin-bottom: 50px;
}

.c-comments-login {
    width: 100%
}

@media(max-width:1279px) {
    .c-main .c-comments-head p {
        font-size: 12px
    }
}

@media(max-width:1023px) {
    .c-main .c-comments-login~* {
        padding-left: 0
    }
}

/* .u-spacer-before::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  margin-left: -3px;
  vertical-align: middle
} */

.u-content-read {
    max-width: 1100px;
    margin: 0 auto;
    /* margin-left: 125px */
}

/* @media(max-width:1279px) {
  .u-content-read {
    max-width: 699px;
    margin-left: 0
  }
} */

.u-pos-r {
    position: relative
}

.u-text-lady {
    color: #f65757
}

.u-flex-justify-x {
    display: flex
}

.u-flex-justify-x>* {
    flex-grow: 1;
    flex-basis: 0
}

.c-si-main {
    position: relative;
    z-index: 9;
    background: #fff none repeat scroll 0 0;
    transition: opacity 1.2s ease 0s
}

.c-si-main .c-post>.o-row-sm {
    position: static
}

.c-si-pages {
    position: relative
}

.c-si-pages .c-si-page {
    position: relative;
    z-index: 8;
    background: #fff none repeat scroll 0 0
}

.c-si-pages .c-si-active {
    z-index: 7
}

.c-si-pages .c-si-main {
    z-index: 1
}

.o-affix-el {
    position: relative
}

@media print {
    .c-aside,
    .c-banner,
    .h-feed {
        display: none !important
    }
    .c-post-meta {
        position: relative !important;
        padding-bottom: 0 !important
    }
    .c-post-title {
        color: #000 !important;
        margin: 22px 0 0 !important
    }
    .c-main {
        float: none !important;
        width: 100% !important;
        margin-right: 0 !important
    }
}

.comTitle {
    padding: 5px 10px;
    margin-top: 30px;
    color: #000;
    border-bottom: 2px solid #000;
    font-size: 27px;
    text-align: center
}

.photo img {
    margin: 3px 0 0
}

.photo {
    float: left;
    margin-right: 10px
}

.com-txt {
    padding-left: 90px;
    text-align: justify;
    color: #000
}

.com-txt-prod {
    margin-top: 10px;
}

.prod-live {
    display: block;
    width: 100%;
    max-width: 350px;
}

.com-txt b {
    display: flex;
    align-items: center
}

.commit-text {
    margin-top: 25px
}

.commit-text--answear {
    padding-left: 100px;
}

@media (max-width: 768px) {
    .commit-text--answear {
        padding-left: 40px;
    }
}

img.photo-people {
    width: 75px;
    border-radius: 50px
}

.clear {
    clear: both
}

body {
    color: #444;
    line-height: 1.5625
}

@media(min-width:759px) and (max-width:1024px) {
    .c-main .u-content-read {
        font-size: 20px
    }
    .com-txt {
        font-size: 19px
    }
}

@media(max-width:759px) {
    #main-content.container.o-wrap.c-si-main.t-lady.js-si-main {
        width: 100%
    }
    .container {
        margin: 0;
        padding: 0
    }
    .container.c-banner.o-wrap.has-nav-sub {
        width: 100%
    }
    .c-main .u-content-read {
        margin-left: 0;
        font-size: 20px;
        line-height: 1.5
    }
    .com-txt {
        padding-left: 85px;
        font-size: 17px
    }
    .h1,
    h1 {
        font-size: 20px
    }
    .c-post-title {
        font-size: 17px
    }
}

@media(max-width:490px) {
    .container {
        width: 100%
    }
    /* .c-app-nav>li:nth-child(2) {
    margin-left: 10px
  } */
}

@media(max-width:650px) {
    .c-post-meta {
        display: none
    }
    /* .c-main .o-jumbotron {
    margin: 0 -20px
  } */
}

@media(max-width:479px) {
    .com-txt b {
        flex-direction: column;
        align-items: flex-start
    }
}

input[value="Получить бесплатно"] {
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 15px 0;
    outline: none;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 3px #242120;
    background: red;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: background .3s;
    -webkit-appearance: none
}

input[value="Получить бесплатно"]:hover {
    background: #b00 !important;
    transition: background .3s
}

input[value="Получить бесплатно"]:active {
    transform: translateY(2px);
    box-shadow: none !important
}

.cups-p {
    text-indent: 0;
    color: #000;
    text-align: center !important;
    margin: 15px;
    margin-bottom: 20px;
    line-height: 25px;
    font-weight: 700
}

.cups-p h2 {
    font-size: 25px;
    margin-bottom: 15px
}

.spin-wrapper {
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border: 3px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box
}

/* .spin-wrapper .cups-p {
  margin-bottom: 5px
} */

.danger-text {
    color: red;
    font-weight: 700
}

.order_block {
    display: none;
    text-align: center !important
}

.order_block img {
    width: 20%
}

.order_block h3 {
    font-size: 18px;
    font-weight: 700;
    background: 0 0
}

.spin-result-wrapper {
    display: none;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    text-align: center
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0;
    left: 0;
    top: 40%;
    margin: 0 auto;
    background: #fff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: .7s ease 0s normal none 1 running;
    animation-name: pop-up-appear;
}

.close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../fonts/cross.svg);
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -40px;
    cursor: pointer
}

@media(max-width:535px) {
    .close-popup {
        right: 0 !important
    }
}

.pop-up-heading {
    font-size: 40px;
    margin-bottom: 20px
}

.pop-up-text {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 34px;
    text-align: center !important
}

.pop-up-button {
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 10px 20%;
    font-size: 20px;
    border-radius: 5px;
    background-color: #71c341;
    color: #fff !important;
    border: medium;
    cursor: pointer;
    display: inline-block;
    outline: medium
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0;
    left: 0;
    top: 40%;
    margin: 0 auto;
    background: #fff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: .7s ease 0s normal none 1 running;
    animation-name: pop-up-appear;
}

.pop-up-window::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #71c341;
    border-radius: 50%;
    animation: .5s ease .6s normal backwards 1 running;
    animation-name: pop-up-appear-before;
}

.pop-up-window::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor #fff #fff;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: .5s ease .6s normal backwards 1 running;
    animation-name: pop-up-appear-after;
}

@keyframes pop-up-appear {
    0% {
        transform: translateY(-2000px)
    }
    30% {
        transform: translateY(100px)
    }
    100% {
        transform: translateY(0px)
    }
}

@keyframes pop-up-appear-before {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes pop-up-appear-after {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.pop-up-button:hover {
    color: #fff !important;
    text-decoration: none !important
}

@media(min-width:901px) {
    .spin-wrapper .cups-p {
        margin-bottom: 20px
    }
}

/* .lead-form-box {
  display: none
} */

.order_block,
.order_block * {
    box-sizing: border-box;
    transition: .2s;
}

.order_block {
    max-width: 430px;
    width: 100%;
    margin: auto;
    text-align: center;
    background: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .12);
    border: 3px dashed #eaeaea;
    border-radius: 0
}

.order_block .order_offer {
    text-align: center
}

.order_block .order_offer img {
    max-width: 100%;
    width: auto;
}

.order_pre_form {
    padding: 20px 20px 0
}

.order_form_row {
    margin-bottom: 10px;
    text-align: left
}

.order_form {
    width: 100%;
    max-width: 500px;
    padding: 0 20px 20px
}

.order_header {
    margin: 12px 0 !important;
    padding: 0 !important;
    font-size: 18px
}

.order_form .order_form_row input {
    width: 100% !important;
    padding: 14px;
    border: 2px solid #eaeaea;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: none !important;
    margin: 0 !important
}

.order_form .order_form_row label {
    font-size: 13px;
    text-align: left;
    font-weight: 700
}

.order_form .order_form_row input:active,
.order_form .order_form_row input:focus {
    outline: none;
    border: 2px solid #cecece
}

.order_form .order_form_button {
    box-shadow: 0 1px 0 0 #f5978e inset;
    background: #f24537;
    border-radius: 3px;
    border: 1px solid #d02718;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    padding: 16px 0;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    text-decoration: none;
    letter-spacing: .6px;
    text-shadow: 0 1px 0 #810e05
}

.order_form .order_form_button:hover {
    background: #c62d1f
}

.order_form .order_form_button:active {
    position: relative;
    top: 1px
}

.inL_103771 {
    max-width: 100% !important;
}

.inL_512626 {
    height: 2080px;
    width: 360px;
}

.inL_556330 {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
}

/* .inL_994888 {
  margin-top: -25px;
} */

.inL_582254 {
    color: darkred;
}

.inL_906917 {
    border: 1px solid rgb(204, 0, 0);
}

/* .inL_518679 {
  width: 650px;
} */

.inL_593107 {
    text-align: center;
}

/* .inL_681703 {
  color: red;
} */

.inL_593969 {
    text-align: center;
    font-weight: 700;
    font-size: 22px
}

.inL_874421 {
    color: red;
    text-align: center;
    font-size: 36px;
    display: block;
}

.inL_198151 {
    text-transform: uppercase
}

.nowrap {
    white-space: nowrap;
}

@media(max-width:1023px) {
    p,
    .com-txt {
        text-align: right;
        font-size: 18px;
        line-height: 1.4;
    }
}

.number-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.number-form p {
    text-align: center;
}

.number {
    padding: 15px 20px;
    margin-bottom: 20px;
    font-size: 18px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
}

.number-message {
    display: none;
    margin: 20px 0;
    width: 100%;
}

.button-number {
    display: block;
    margin: 20px auto 0;
    padding: 20px 15px;
    font-size: 20px;
    text-decoration: none;
    background-color: #de0606;
    text-align: center;
    color: #fff !important;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
}

figure {
    margin-bottom: 20px;
}

figure .img-responsive {
    margin-bottom: 5px;
}

figcaption {
    font-style: italic;
    color: #000;
    text-align: center;
    font-size: 14px;
    max-width: 500px;
    line-height: 1.3;
    margin: 0 auto;
}

.lastpack-wrap {
    display: block;
    background: red;
    padding: 23px;
    margin: 12px 0;
    width: 100%;
    max-width: 200px;
    color: #fff;
    text-shadow: 0 -1px 0 #000, 0 -1px 0 #000, 0 1px 0 #000, 0 1px 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px 0 0 #000, 1px 0 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 32px !important;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 22px !important;
    padding-top: 25px;
    cursor: pointer;
    text-align: center;
}

.spin-result-wrapper {
    display: none;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0px;
    left: 0px;
    top: 40%;
    margin: 0px auto;
    background: #ffffff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: 0.7s ease 0s normal none 1 running;
    animation-name: pop-up-appear;
}

.close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../fonts/cross.svg');
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -40px;
    cursor: pointer;
}

.pop-up-heading {
    font-size: 40px;
    margin-bottom: 20px;
}

.pop-up-text {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    text-align: center !important;
}

.pop-up-button {
    text-transform: uppercase;
    text-decoration: none !important;
    padding: 10px 20%;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(113, 195, 65);
    color: rgb(255, 255, 255) !important;
    border: medium none;
    cursor: pointer;
    outline: medium none;
}

.cursor-text:active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}

.pop-up-window {
    position: relative;
    max-width: 400px;
    right: 0px;
    left: 0px;
    top: 40%;
    margin: 0px auto;
    background: #fff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: 0.7s ease 0s normal none 1 running;
    animation-name: pop-up-appear;
}

.pop-up-window::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0;
    right: 0px;
    margin: 0 auto;
    background-color: rgb(113, 195, 65);
    border-radius: 50%;
    animation: 0.5s ease 0.6s normal backwards 1 running;
    animation-name: pop-up-appear-before;
}

.pop-up-window::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0px;
    right: 0;
    margin: 0 auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: 0.5s ease 0.6s normal backwards 1 running;
    animation-name: pop-up-appear-after;
}

@keyframes pop-up-appear {
    0% {
        transform: translateY(-2000px);
    }
    30% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes pop-up-appear-before {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pop-up-appear-after {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pop-up-button:hover {
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
}

.spin-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    padding: 20px;
    box-sizing: border-box;
}

.wheel {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    position: relative;
}

.wheel img {
    max-width: 100%;
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
}

.wheel-cursor {
    position: absolute;
    width: 35% !important;
    height: 35%;
    min-width: 120px;
    min-height: 120px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wheel-cursor .cursor-text {
    cursor: pointer !important;
}

.cursor-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    /* display: inline-block; */
    width: 45% !important;
    height: 45%;
    min-width: 65px;
    min-height: 65px;
    padding: 3px;
    font-size: 15px;
    /* line-height: 61px !important; */
    cursor: pointer;
    border-radius: 50%;
    font-weight: 700;
    vertical-align: middle;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    top: 50%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    background: rgb(255, 255, 255);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
    font-weight: 700;
}

.super-rotation {
    -webkit-animation-name: super-rotation;
    animation-name: super-rotation;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out
}

@keyframes super-rotation {
    70% {
        -webkit-transform: rotate(1633deg);
        transform: rotate(1633deg);
    }
    100% {
        -webkit-transform: rotate(1623deg);
        transform: rotate(1623deg);
    }
}

ol {
    font-weight: 700;
}

.prod-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.mw600 {
    max-width: 600px !important;
}

.button-number {
    box-shadow: 0 1px 0 0 #f5978e inset;
    background: #f24537;
    border-radius: 3px;
    border: 1px solid #d02718;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    padding: 16px 0;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
    text-decoration: none;
    letter-spacing: .6px;
    text-shadow: 0 1px 0 #810e05;
}

.c-sidebar {
    overflow: hidden;
}

@media screen and (max-width: 1023px) {
    ol,
    ul {
        font-size: 18px;
    }
    ul,
    ol {
        /* padding-left: 30px; */
    }
}

@media screen and (max-width: 479px) {
    .com-txt {
        font-size: 16px;
        padding-left: 55px;
    }
    img.photo-people {
        width: 45px;
    }
    .prod-live {
        max-width: 200px;
    }
}

@media screen and (max-width: 650px) {
    .inL_874421 {
        font-size: 30px;
        line-height: 1.3;
    }
}

.header__list {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.header__item {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 5px;
    color: #4c545f;
}

.header__link {
    text-decoration: none;
    color: #4c545f;
    -webkit-transition: ease .5s;
    -o-transition: ease .5s;
    transition: ease .5s;
}

.header__link:hover {
    color: #f9b03d;
}

.c-post {
    border-top: 1px solid grey;
    padding-top: 25px;
}

@media screen and (max-width: 1023px) {
    .logo__item--mob-hide {
        display: none;
    }
    .header__item:nth-child(9) {
        display: none;
    }
    .c-post {
        padding-top: 0;
    }
    .inL_593969+div {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .header__item:nth-child(8) {
        display: none;
    }
}

@media screen and (max-width: 560px) {
    .header__item:nth-child(7) {
        display: none;
    }
}

@media screen and (max-width: 639px) {
    .header__item:nth-child(6) {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .header__item:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width:375px) {
    .header__item:nth-child(4) {
        display: none;
    }
}

/* 
body {
  background-color: #c5c5c5;
}

.custom-header {
  background-color: #fff;
  padding-bottom: 1px;
  margin-bottom: 25px;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 100%;
  }
}
.c-si-pages .c-si-page {
  background: none;
}
.o-row-sm {
  margin-left: 0;
  margin-right: 0;
}
.c-si-main {
  padding-top: 10px;
} */

.black {
    color: black !important;
}

.tcenter {
    display: block;
    text-align: center !important;
}

.footnote {
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}

.com-txt b>span {
    margin-left: 5px;
}

.graph-link:hover {
    text-decoration: underline;
    cursor: pointer;
}